* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace;
    background: linen;
    font-size: 1rem;
}

header {
    margin: 1rem auto;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    width: 800px;
    margin: auto;
}

button,
input[type="submit"] {
    cursor: pointer;
}

form {
    display: flex;
    width: 100%;
    margin: 1rem auto;

    input {
        padding: 0.5rem 1rem;
        background: none;
        border: 1px solid black;
        font-family: monospace;
        font-size: 1rem;
    }

    input[type="text"] {
        flex: 1;
        margin-right: 0.25rem;
    }

    input[type="submit"] {
        font-weight: bold;
    }
}

ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
    list-style: none;
}

ul:empty:before {
    content: "no todo items available ...";
    text-align: center;
}

li {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0.5rem auto;
    padding: 0.25rem 0.5rem;
    border: 1px solid black;

    label {
        flex: 1;
        margin: 0 0.5rem;
        -webkit-user-select: none;
        user-select: none;
    }

    span {
        margin: 0 1rem;
    }

    input:checked ~ span {
        color: darkgray;
        text-decoration: line-through;
    }

    button {
        background: none;
        border: 0;
        font-size: 1.5em;
        font-weight: bold;
    }
}
