{% import "macros.jinja" as macros %}
<!DOCTYPE html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>mtodo</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    <body>
        {% if error_message %}
        <main class="error">
            {% block error_content %}{% endblock %}
        </main>
        {% else %}
        <nav>
            <ul>
                {{ macros.render_nav_link("base.index", "mtodo") }}
                {% if current_user.is_authenticated %}
                {{ macros.render_nav_link("base.logout", "logout") }}
                {% else %}
                {{ macros.render_nav_link("google.login", "login") }}
                {% endif %}
            </ul>
        </nav>
        <main>
            {{ macros.flask_flash_messages() }}
            {% block main_content %}{% endblock %}
        </main>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        {% endif %}
   </body>
</html>
